<table border=0 cellspacing=0 width="100%">
  <tr valign=middle>
    <th width="1%">&nbsp;</th>
    <th width="1%" nowrap align=left>Name</th>
    <th width="1%" nowrap align=right>Size</th>
    <th width="1%" nowrap align=left>Date (GMT)</th>
    <th width="96%" nowrap align=left>Description</TH>
  </tr>
  $files{
  <tr valign=middle bgcolor="$bgcolor">
    <td nowrap>$iconlink</td>
    <td nowrap>$namelink</td>
    <td nowrap align=right>$filesize{$bytes bytes} </td>
    <td nowrap align=right>$modtime </td>
    <td>$description{<i>$desctext</i>}</td>
   </tr>}
</table>
