Type the full name of an identifier to summarize 
(a function name, variable name, typedef, etc).

<p>
Matches are case-sensitive.

<form method="get" action="ident">
$variables
    
<b>Identifier: </b>
<input id="focus" type="text" name="i" value="$identifier_escaped" size="15">
<input type="submit" value="Find">

</form>     

<span class="search-ident">$identifier</span>
<p>
<table>    
<tr><td colspan='2'><b>Declarations:</b></td></tr>
$refs{<tr>
  <td>$fileref</td><td>$type</td><td>$rel</td>
</tr>}
</table>

